* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}


.top,.middle,.bottom {
    height: 100vh;
   
    
}




    

h1{
    
  
/*
    margin-top: 200px;
    margin-left: 370px;
*/
    color:darkblue;
  
   
    
}



h1{
    
    color: darkblue;
      
/*
    font-size: 260px;
    font-weight: 60;
    margin-top: 200px;
    margin-left: 370px;
*/


    
}


.h-mid{
    
    
    color: white;
   text-align: center;
/*
    font-size: 450px;
    font-weight: 50;
*/
 
      
   
  
    
 
}


svg{
    
    
/*
  position: fixed;
    top: 95%;
    left: 50%;
*/
}

p{
    
   
    
/*
    font-size: 50px;
    color: white;
    position: fixed;
     top: 87%;
    left: 48%;
*/
   
}






h2{
    color: white;
/*    font-size: 100px;*/
}

.arrows{
    
    color: white;
}

.icepeak1{
    color: darkblue;
    
 
}

.icepeak2{
    color: darkblue;
    margin-top:20px;
 
}

.icepeak3{
    margin-top:20px;
    color: darkblue;
 
}

.icepeak4{
    margin-top:20px;
    color: darkblue;
 
}

.bot-right, .bot-mid, .bot-left{
    color: white;
}

.num{
    font-weight: 1000; 
    font-size:30px
}

.three {
    position: absolute;
    top: 320px;
    right: 382px;
}

.seven {
    position: absolute;
    top: 192px;
    right: 100px;
}


.eight{
    position: absolute;
    top: 160px;
    right: 850px;
}

.nine{
    
    position: absolute;
    top: 305px;
    right: 850px;
}

.ten{
    position: absolute;
    top: 497px;
    right: 850px;
}

.eleven{
    
    position: absolute;
    top: 579px;
    right: 575px;
    
}

.six{
    
    position: absolute;
    top: 380px;
    right: 150px;
}



.five{
    
    
    position: absolute;
    top: 490px;
    right: 140px;
}

.four{
    position: absolute;
    top: 600px;
    right: 80px;
    
}

.two{
    
    position: absolute;
    top: 320px;
    right: 551px;
}

.gipergli{
    
        position: absolute;
    top: 501px;
    right: 486px;
    font-size: 20px;
    font-weight: 100;
    
}

.bottom{
    position: relative;
    background-image: url("./Group%201.png");
    -webkit-background-size: contain;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}


.insulin{
    
    position: absolute;
    top: 320px;
    right: 86px;
}


    